.TableView {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2em;
    position: relative;
    top: 60px;
}

thead {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 60px;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

.buttonfunc1,
.buttonfunc2 {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.buttonfunc1 {
    background-color: #90dc90;
    color: #000000;

}

.buttonfunc1:hover {
    background-color: #00ff00;
    color: #000000;
    cursor: pointer;
}

.buttonfunc2 {
    background-color: #f7a2a2;
    color: #000000;
}

.buttonfunc2:hover {
    background-color: #ff0000;
    color: #000000;
    cursor: pointer;
}