* {
    margin: 0;
    padding: 0;
}

.Navbar {
    background-color: #11852b;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2em;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

body {
    font-family: open sans, Arial, sans-serif;
    position: relative;
    top: 60px;
}

.TextoHome h1 {
    display: flex;
    justify-content: center;
}

.TextoHome p {
    padding: 20px;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
}

.SectionHome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImagemPessoasHome {
    max-height: 600px;
}