.TableView2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}

form {
    display: flex;
    flex-direction: column;

}

form>input {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

#ID {
    background-color: #e7e7e7;
}

.buttonSubmit {
    width: 100%;
    height: 60px;
    margin: 20px 0;
    background-color: #90dc90;
    color: #000000;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
}


.buttonSubmit:hover {
    background-color: #00ff00;
    color: #000000;
    cursor: pointer;
}